button {
    background: turquoise;
    margin: 0 5px 0;
}

#add-superhero-field > * {
    margin: 5px 0;
}

#add-superhero-field {
    border: 1px solid black;
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

#gifsSection {
    border: 1px solid black;
    display: inline-block;
    width: 60%;
    height: 100vh;
}

#gifsSection, #add-superhero-field {
    margin: 5px;
}